@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
  --prim-color: #f4e005;
  --body-color: #1c1c1c;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #cdcdcd;

  --bricolage-font: "Bricolage Grotesque", sans-serif;
  --poppins-font: "Poppins", sans-serif;

  --transition-regular: 0.6s;
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}
/* .hero {
  width: 100% !important;
  height: 70vh;
  background-image: url(src/assets/image/hero-slide-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  z-index: 5;
} */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper-btn-prev,
.swiper-btn-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 20;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-btn-prev:hover,
.swiper-btn-next:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-50%) scale(1.1);
}
.swiper-btn i{
  font-size: 2rem;
  width:50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);
  border: 1px solid rgba(131, 131, 131, 0.5);
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--white-color);
  transition: var(--transition-regular);
}
/* Button Positioning */
.swiper-btn-prev {
  left: 5% !important;
}

.swiper-btn-next {
  right: 5% !important;
}
.swiper-btn i:hover{
  background-color: var(--black-color);
  color: var(--prim-color);
  transform: scale(1.02);
}

/* ------------------------------
   Responsive Adjustments
------------------------------ */
@media (max-width: 1024px) {
  .swiper-btn-prev {
    left: 3% !important;
  }
  .swiper-btn-next {
    right: 3% !important;
  }
  .hero1,
  .hero2,
  .hero3 {
    height: 55vh;
  }
}
.hero-top span{
  opacity: 0;
  animation: Anim-fade-left var(--transition-regular)0.3s forwards linear;
}
.hero-bottom p:nth-of-type(1){
  opacity: 0;
  animation:Anim-fade-left var(--transition-regular)0.5s forwards linear;
}
.hero-bottom h1{
  opacity: 0;
  animation:Anim-fade-left var(--transition-regular)0.7s forwards linear;
}
.hero-bottom button{
  opacity: 0;
  animation:Anim-fade-left var(--transition-regular)1s forwards linear;
}
@keyframes Anim-fade-left{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

/* hero mq section */
@media (max-width:1399px){}
@media (max-width:199px){
  .nav-menu li{
    font-size: 0.8rem !important;
  }
}
@media (max-width:991px){
  .hero-bottom h1{
    font-size: 3rem;
  }
  .swiper-btn{
   left: 6% !important;
  }
  .swiper-btn-next{
    left: 91% !important;
  }
}
@media (max-width:767px){}
@media (max-width:575px){
  .nav-btn{
    display: none;
  }
  .hero{
    padding:70px 40px;
  }
  .hero-top{
    flex-direction: column;
    justify-content:flex-start ;
    align-items: flex-start;
  }
  
  .hero-bottom h1{
    font-size: 2rem;
  }

}

/* explore topic */
.topic-box img{
  filter:grayscale(100%);
  transition: var(--transition-regular);
}
.topic-box:hover img{
filter:grayscale(0);
}